

//iPad in portrait & landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    //Navigation
    .nav{

    }
    
    .sidebar{
        
    }
    

    //Main Visual
    .main-visual{

    }

    //Vision
    .vision{

    }

    //Service
    .service{

    }

    //Company Profile
    .company-profile{

    }

    //Contact Us
    .contact-us{

    }

    //Footer
    .footer{
        
    }

}

//iPhone X in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 

    //Section Header

    //Navigation
    .nav{

    }

    .sidebar{

    }
    
    //Main Visual
    .main-visual{

    }

    //Vision
    .vision{

    }

    //Service
    .service{

    }

    //Company Profile
    .company-profile{
        .container{
            .cp_p2{
                font-weight:500;
                font-size:12px;
            }
        }
    }

    //Contact Us
    .mapp{
        padding-top: 40px;
        padding-bottom: 40px;
        background:linear-gradient(rgba(90, 89, 88, .3) 100%);
        .ContactUs{
            .C-form{
                .container{
                    .row{
                        padding: 0 15px;
                        .colored{
                            background: #FA9649;
                            border: 8px solid #FA9649;
                            border-radius:0px;
                        }
                        .lefts{
                            background: transparent;
                        border: 8px solid #FA9649;
                        border-radius:0px;
                        }
                        .col-lg-6{
                        color: white;
                        padding-top: 75px;
                        
                        .oof{
                            padding-bottom: 20px;
                        }
                        .num{
                            padding-bottom: 50px;
                            border-bottom: 2px solid rgba(247, 247, 247, 0.6);
                        }
                        .icon{
                            float: left;
                            padding-right: 40px;
                            padding-left: 40px;
                        }
                        .infos{
                            a{
                                color: #FFFFFF;
                                text-decoration: none;
                            }
                        }
                        
                        input[type=text] ,input[type=email]{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            margin: 10px 0px;
                            resize: none;
                            height: 40px;
                            box-shadow: 0 4px 8px 0 
                            rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                            rgba(0, 0, 0, 0.19);
                            }
                        input[type=submit]{
                            border-radius: 5px;
                            padding: 8px 25px;
                            float: right;
                            margin: 10px 0px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                          rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                          rgba(0, 0, 0, 0.19);
                            }
                        textarea{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                          rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                          rgba(0, 0, 0, 0.19);
                        }
                        .pads{
                            padding-top: 20px;
                        }
                        .iagree{
                            padding-bottom:20px;
                            .big{
                                margin-top: 5px;
                                width: 15px;
                                height: 15px;
                            }
                            font-size: 13px;
                            font-weight: 700;
                            a{
                                color: #05dfd7;
                            }
                        }
                        }
                    }
                }
            }
        }
    }
    
    //Footer
    .footer{
        .footer-copyright{
            font-size: 17px;
        }
    }
    // privacy Policy2 
    .privacy_policy,.privacy_policy2{
       .container{
           margin-top:10%;
           .display-1{
            font-size:4rem;
        }
       }
    }
}

//iPhone 6, 7, & 8 in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

    .nav{

    }

    .sidebar{

    }
    
    //Main Visual
    .main-visual{

    }

    //Vision
    .vision{

    }

    //Service
    .service{

    }

    //Company Profile
    .company-profile{

    }

    //Contact Us
    .mapp{
        padding-top: 40px;
        padding-bottom: 40px;
        background:linear-gradient(rgba(90, 89, 88, .3) 100%);
        .ContactUs{
            .C-form{
                .container{
                    .row{
                        padding: 0 15px;
                        .colored{
                            background: #FA9649;
                            border: 8px solid #FA9649;
                            border-radius:0px;
                        }
                        .lefts{
                            background: transparent;
                        border: 8px solid #FA9649;
                        border-radius:0px;
                        }
                        .col-lg-6{
                        color: white;
                        padding-top: 75px;
                        
                        .oof{
                            padding-bottom: 20px;
                        }
                        .num{
                            padding-bottom: 50px;
                            border-bottom: 2px solid rgba(247, 247, 247, 0.6);
                        }
                        .icon{
                            float: left;
                            padding-right: 40px;
                            padding-left: 40px;
                        }
                        .infos{
                            a{
                                color: #FFFFFF;
                                text-decoration: none;
                            }
                        }
                        
                        input[type=text] ,input[type=email]{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            margin: 10px 0px;
                            resize: none;
                            height: 40px;
                            box-shadow: 0 4px 8px 0 
                            rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                            rgba(0, 0, 0, 0.19);
                            }
                        input[type=submit]{
                            border-radius: 5px;
                            padding: 8px 25px;
                            float: right;
                            margin: 10px 0px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                        rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                        rgba(0, 0, 0, 0.19);
                            }
                        textarea{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                        rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                        rgba(0, 0, 0, 0.19);
                        }
                        .pads{
                            padding-top: 20px;
                        }
                        .iagree{
                            padding-bottom:20px;
                            .big{
                                margin-top: 5px;
                                width: 15px;
                                height: 15px;
                            }
                            font-size: 13px;
                            font-weight: 700;
                            a{
                                color: #05dfd7;
                            }
                        }
                        }
                    }
                }
            }
        }
    }

    //Footer
    .footer{
        
    }
    // privacy Policy2 
    .privacy_policy,.privacy_policy2{
        .container{
            margin-top:10%;
            .display-1{
             font-size:4rem;
         }
        }
     }
}

//iPhone 6, 7, & 8 Plus in portrait & landscape
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
    //Navigation
    .nav{

    }

    .sidebar{

    }
    
    //Main Visual
    .main-visual{

    }

    //Vision
    .vision{

    }

    //Service
    .service{

    }

    //Company Profile
    .company-profile{

    }

    //Contact Us
    .mapp{
        padding-top: 40px;
        padding-bottom: 40px;
        background:linear-gradient(rgba(90, 89, 88, .3) 100%);
        .ContactUs{
            .C-form{
                .container{
                    .row{
                        padding: 0 15px;
                        .colored{
                            background: #FA9649;
                            border: 8px solid #FA9649;
                            border-radius:0px;
                        }
                        .lefts{
                            background: transparent;
                        border: 8px solid #FA9649;
                        border-radius:0px;
                        }
                        .col-lg-6{
                        color: white;
                        padding-top: 75px;
                        
                        .oof{
                            padding-bottom: 20px;
                        }
                        .num{
                            padding-bottom: 50px;
                            border-bottom: 2px solid rgba(247, 247, 247, 0.6);
                        }
                        .icon{
                            float: left;
                            padding-right: 40px;
                            padding-left: 40px;
                        }
                        .infos{
                            a{
                                color: #FFFFFF;
                                text-decoration: none;
                            }
                        }
                        
                        input[type=text] ,input[type=email]{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            margin: 10px 0px;
                            resize: none;
                            height: 40px;
                            box-shadow: 0 4px 8px 0 
                            rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                            rgba(0, 0, 0, 0.19);
                            }
                        input[type=submit]{
                            border-radius: 5px;
                            padding: 8px 25px;
                            float: right;
                            margin: 10px 0px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                        rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                        rgba(0, 0, 0, 0.19);
                            }
                        textarea{
                            width: 100%;
                            border-radius: 5px;
                            padding: 5px;
                            resize: none;
                            box-shadow: 0 4px 8px 0 
                        rgba(0, 0, 0, 0.2),
                            0 6px 20px 0 
                        rgba(0, 0, 0, 0.19);
                        }
                        .pads{
                            padding-top: 20px;
                        }
                        .iagree{
                            padding-bottom:20px;
                            .big{
                                margin-top: 5px;
                                width: 15px;
                                height: 15px;
                            }
                            font-size: 13px;
                            font-weight: 700;
                            a{
                                color: #05dfd7;
                            }
                        }
                        }
                    }
                }
            }
        }
    }

    //Footer
    .footer{
        
    }
    // privacy Policy2 
    .privacy_policy,.privacy_policy2{
        .container{
            margin-top:10%;
            .display-1{
             font-size:4rem;
         }
        }
     }
}

//iPhone 5 & 5S in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
    //Navigation
    .nav{

    }

    .sidebar{

    }
    
    //Main Visual
    .main-visual{

    }

    //Vision
    .vision{

    }

    //Service
    .service{

    }

    //Company Profile
    .company-profile{

    }

    //Contact Us
    .contact-us{

    }

    //Footer
    .footer{
        
    }
    // privacy Policy2 
    .privacy_policy,.privacy_policy2{
        .container{
            margin-top:10%;
            .display-1{
             font-size:3rem;
         }
        }
     }
}